@import "../../../colorScheme.scss";
.c_ModelCreateProduct {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $whites;
  padding: 20px;
  z-index: 100;
  border-radius: 20px;
}
.c_Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
h4 {
  font-size: 10px;
}
.c_title {
  display: flex;
  font-size: 30px;
  justify-content: center;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color-border;
  text-shadow: 1px 1px $whites, 3px 3px $blacks;
}
.c_p {
  display: flex;
  align-items: center;
  letter-spacing: 0.3em;
}

.c_list {
  display: flex;
}

.c_l {
  display: flex;
  align-items: center;
}
.c_price {
  margin-left: auto;
}

.c_total {
  margin-left: auto;
}
.c_created {
  display: flex;
  font-size: 10px;
  justify-content: center;
}

.c_btn {
  text-align: center;
  border-radius: 20px;
  font-family: "Helvetica Neue", sans-serif;
  border: 1px solid $color-border;
  background-color: $color-main;
  color: $blacks;
  font-size: 8px;
  font-weight: bold;
  padding: 12px 45px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.c_btn:hover {
  background-color: $color-light;
}
